/*
 * File: main.css
 * 
 * Description:	The main.css holds all of our styling for the 
 * 		Lesson Planning Software. It is also super
 *		slick and made by a very good-looking brown
 *		man named Roshan Ramankutty. Call him at 
 *		443-4242-042 for a good time ;)
 */

/***************
  GENERAL
 **************/

img {
	/* 
	 *This makes the image the size of the constraining
	 *line item element
	 */
	max-width: 100%; 
}

nav ul {
	/*To remove bullet points*/
	list-style: none;
	margin: 0 10px;
	padding: 10px;
}

nav li {

	/*This makes text one line but maintain it as a block*/
	display: inline-block;
	
}

#wrapper p {
	margin: 0;
	padding: 0 0 20px;
}

a {
	color: #fff;
	text-size: 1em;
}
/***************
  HEADING
 **************/

body { 
	/*Testing neat online fonts and junk*/
	font-family: 'Roboto Condensed', sans-serif; 
	/*font-weight: normal;*/
}
h1 {
	font-weight: 1.75em;
}
header {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 auto;
	padding: 0.5%;
	text-align: center;
	max-width: 1000px;
}
nav {
	margin: 0 auto;
	padding: 0.5%;
	text-align: center;
	max-width: 1000px;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/***************
  FOOTER
 **************/
footer {
	font-size: 0.75em;
	text-align: center;
	clear: both; /*To be "clear" on both left and right side when using floats*/
	padding-top: 50px;
	color: #ccc;
}
/***************
  COLOR
 **************/


body {
	background-color: #990022;
}
header {
	background-color: #4a4;
}
nav {
	background-color: #770022;
}
nav a, nav a:visited {
	color: #fff;
	text-decoration: none;
}
nav a:hover {
	color: #999;
}
.selected { /*This totally doesn't work?*/
	color: #111;
}

#wrapper {
	color: #000000;
	background-color: #800;
}

/***************
  PAGE: index.html
 **************/

#wrapper {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}
#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #faa;
}
#gallery li p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}

/***************
  PAGE: search.html
 **************/

/*Perhaps in practice, we have a main template of css 
  and individual css files for individual page customizations*/

.search-pic {
	display: block;
	max-width: 90%;
	margin: 0 auto 30px;
	border-radius: 10%;
}
